body{
    font-family: "Times New Roman", Times, serif;
    background-color: antiquewhite;
}

#playerForm{
    padding: 1rem;
    border: 1px solid #000000;
    display: inline-block;
}

li{
    list-style: none;
}

.box{
    border: 1px solid #000000;
    display: block;
    margin: 50px 400px;
}
