body{
    font-family: "Times New Roman", Times, serif;
    background-color: antiquewhite;
}

#playerForm{
    padding: 1rem;
    border: 1px solid #000000;
    display: inline-block;
}

li{
    list-style: none;
}

.box{
    border: 1px solid #000000;
    display: block;
    margin: 50px 400px;
    font-weight: bold;
}

#deleteAll{
    display: block;
    margin: 1rem;
}

#allPlayers{
    font-weight: bold;
}

.box button{
    margin: 0 0.5rem;
}

.team{
    color: #5977ff;
}

.hide{
    display: none;
}

#viewTeam{
    font-weight: bold;
}

#teamView{
    border: 1px solid black;
}

#teamView button{
    margin: 0 0.5rem;
}
